@font-face {
  font-family: "sinma";
  src: url("../fonts/IRANBlack.woff") format("woff");
}


body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
html {
  width: 100%;
  overflow-x: hidden;
  

}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'sinma';

}

.background-slider{
  width: 100%;
  height: 100vh;
 background-image: url('../../public/img/car2.JPEG');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 display: flex;
flex-direction: column; 
}

::-webkit-scrollbar{
width: 19px;
}

::-webkit-scrollbar-thumb{
color: rgb(135, 127, 127);
background-color: rgb(29, 27, 27);
width: 10px;
border-radius: 10px;
}

.autoShow{
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}