.result-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "mahbobe";
}
.result-container h4 {
  font-size: 30px;
  color: rgb(21, 20, 20);
}
.result-container h6 {
  font-size: 16px;
  color: #4f4f4f;
}

.wrapper-result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.result-item {
  display: flex;
  width: 23rem;
margin: 10px;
  padding: 20px;
border: 1px solid black;
 border-top-left-radius: 40px;
 border-bottom-right-radius: 40px;
}
.result-icon{
    
width: 100px;
color: black;

}
.line-3{
    height: 20px;
    border: 1px solid #ffc000;
    margin-left: 4px;
}
.text-result-item p{
    color: rgb(78, 78, 78);
}


/* Responsive */

@media screen and (max-width:420px) {
  .result-container {
    text-align: center;
  }
  
}